/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

html {
	scroll-behavior: smooth;
	font-display: optional;
	background-image: linear-gradient(to right, hsl(48, 97%, 77%), hsl(0, 96%, 89%));
	color: #000;
	&.dark {
		background-image: linear-gradient(to right, hsl(202, 80%, 24%), hsl(242, 47%, 34%));
		color: #fff;
	}
	// @media (prefers-color-scheme: dark) {
	// 	background-image: linear-gradient(to right, hsl(202, 80%, 24%), hsl(242, 47%, 34%));
	// 	color: #fff;
	// }
}

main {
	width: 100%;
	gap: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 2rem;
	max-width: 100rem;

	.dark & {
		padding: 0 2rem;
	}

	@media (min-width: 1280px) {
		padding: auto 25%;
	}
}

.backdrop {
	align-items: center;
	display: flex;
	flex-direction: column;
}

button,
[type='button'] {
	border-style: solid;
	border-color: transparent;
	cursor: pointer;
	padding: 0;
	overflow: hidden;
	color: inherit;
}

.glass {
	border-radius: 1.5rem;
	background: hsl(0 0% 100% / 0.9);
	@supports (backdrop-filter: none) {
		background: hsl(0 0% 100% / 0.3);
		backdrop-filter: blur(8px);
	}

	.dark & {
		// background: hsl(0 0% 100% / 0.9);
		// @supports (backdrop-filter: none) {
		// 	background: hsl(0 0% 100% / 0.3);
		// 	backdrop-filter: blur(8px);
		// }
		background: hsl(225 7% 11% / 0.9);
		@supports (backdrop-filter: none) {
			background: hsl(225 7% 11% / 0.3);
			backdrop-filter: blur(8px);
		}
	}
	// @media (prefers-color-scheme: dark) {
	// 	color: white;
	// 	background: var(--glass-color-support);
	// 	@supports (backdrop-filter: none) {
	// 		background: var(--glass-color);
	// 		backdrop-filter: blur(8px);
	// 	}
	// }
}

a {
	// transition: all 1000ms;

	color: hsl(203, 68%, 52%);
	font-weight: 400;
	text-decoration: none;
	&:hover {
		color: hsl(203, 100%, 67%);
	}
}
